<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Dashboard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <Dashboard.Properties.Settings>
            <setting name="AudioMonitorEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AudioInputDevice" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="AudioOutputDevice" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="WarehouseUrl" serializeAs="String">
                <value>http://data.funcube.org.uk</value>
            </setting>
            <setting name="WarehouseSiteId" serializeAs="String">
                <value />
            </setting>
            <setting name="WarehouseAuthCode" serializeAs="String">
                <value />
            </setting>
            <setting name="WarehouseStreamData" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DongleFrequency" serializeAs="String">
                <value>145925000</value>
            </setting>
            <setting name="LoggingEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LoggingPath" serializeAs="String">
                <value />
            </setting>
            <setting name="RecPlaybackSpeed" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="LastRunRevision" serializeAs="String">
                <value />
            </setting>
            <setting name="BiasTEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RangeMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RangeMax" serializeAs="String">
                <value>48000</value>
            </setting>
        </Dashboard.Properties.Settings>
    </userSettings>
</configuration>
